* {
  margin: 0px;
  padding: 0px;
}

section {
  background: linear-gradient(to bottom, magenta, cyan);
  height: 100vh;
}

div {
  height: 50px;
}

#one {
  width: 100vw;
  background-color: red;
}

#two {
  width: 80vw;
  background-color: green;
}

#three {
  width: 50vw;
  background-color: yellow;
  font-size: 0px;
}

#nested1 {
  background-color: pink;
  height: 50%;
  width: 50%;
  display: inline-block;
}

#nested2 {
  background-color: blue;
  height: 50%;
  width: 50%;
  display: inline-block;
}

#ur {
  width: 50vw;
  background-color: red;
  font-size: 0;
}

#ur1 {
  width: 20vw;
  background: pink;
  display: inline-block;
}

#ur2 {
  width: 20vw;
  background-color: yellow;
  display: inline-block;
}
