h2 {
  color: orange;
}

body {
  background-color: lightpink;
}

h1 {
  background-color: aqua;
  color: magenta;
  display: inline;
}

a {
  color: white;
  font-size: 30px;
}

footer {
  border: 3px solid black;
}

img {
  height: 300px;
  border: 3px dashed black;
}
