/* Breakpoints: 990px and 600px*/

* {
  padding: 0;
  margin: 0;
}

.flex-container {
  background-color: deepskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 0 0 0.45em;
  border: 1px solid white;
}

.logo a {
  color: black;
  border: 1px solid black;
}

/* .logo,
.navigation {
  list-style: none;
  text-transform: uppercase;
  border: 2px solid magenta;
} */

a {
  text-decoration: none;
  text-transform: uppercase;
}

.navigation {
  list-style-type: none;
  display: flex;
}

.navigation a {
  color: white;
  font-size: 1.5em;
  padding: 1em;
  /* display: block; */
}

.navigation li {
  /* border: 1px solid black; */
}

@media screen and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
  }
  .navigation {
    justify-content: space-evenly;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
